.skills-container {
  display: flex;
  justify-content: left;
  margin: 5vw;
  padding: 2vw;
}

.skills-header {
  text-align: center;
  color: coral;
  font-family: 'sans-serif';
  font-size: 20px;
  width: 50%;
  height: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

i{
  font-size: 100px;
  color: coral;
  padding: 10px;
}
