.skills-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 5vw;
  padding: 2vw;
  height: 60vh;
}

.skills-header {
  text-align: center;
  color: coral;
  font-size: 30px;
  width: 50%;
  height: 90%;
  margin: 10rem auto;
  padding-top: 50px;
}

i{
  font-size: 100px;
  color: coral;
  padding: 10px;
}

.skill-description {
  text-align: center;
  color: coral;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15rem;
}

