<h4 class="skills-header" id="skills">Skill</h4>

<div class="skills-container">
  <div class="skill-description">I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between.</div>
  <div class="program-icons-container">
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-react-original colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-html5-plain colored"></i>
    <i class="devicon-css3-plain colored"></i>
    <i class="devicon-github-original colored"></i>
  </div>

</div>
