.skills-container {
  display: flex;
  justify-content: left;
  margin: 5vw;
  padding: 2vw;
}

.skills-header {
  text-align: center;
  color: coral;
  font-family: 'sans-serif';
  font-size: 20px;
  width: 50%;
  height: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

.skills-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
