.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  background-position-y: 25%;
  margin-left: 50px;
}

.navbar {
  display: flex;
justify-content: end;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5vw;
  padding: 2vw;
  //border: 1px solid black;
  //border-radius: 20px;
  //background-color: rgba(255,255,255,0.5);
}

.introduction {
  text-align: left;
  color: black;
  font-family: 'sans-serif';
  font-size: 30px;
  width: 50%;
  height: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

.greeting{
  text-align: left;
  padding-bottom: 1%;
  font-family: 'sans-serif';
  font-size: 30px;
}

.name{
  text-align: center;
  padding-top: 10%;
  color: black;
}
